
html, body {
	background: 444;
  margin: 0;
  -webkit-user-select: none;
}

canvas {
	background: #EAEAEA;
	display: block;
	margin: 0 auto;
  width: 768px;
  height: 1004px;
  z-index: 1;
}

#link {
  display: none;
  position: absolute;
  width: 768px;
  height: 120px;
  bottom: 0px;
  z-index: 100;
}